{% extends 'base.html' %}
{% block start %}
<div class="about-section">
    <h1>About Me</h1>
  </div>
  
  <h2 style="text-align:center"></h2>
  <div class="row">
    
  <center>
    <div class="container text-center">
      <div class="card">
        <img src="/media/img/chairi.jpg" alt="febri" style="width:100%">
        <div class="container">
          <h2>Profile :</h2>
          <p class="title">MAHASISWA</p>
          <p> Febri Ananda Chairi <br> 2011102441163 <br> S1 Teknik Informatika</p>
          <p>anandachairi234@gmail.com</p>
          <p></p>
        </div>
      </div>
    </div>
    </center>
    
  </div>
</div>
{% endblock %}